<nav class="navbar">
  <div class="navbar-brand">
    <a routerLink="/">TripBuddy</a>
  </div>

  <ul class="navbar-links" [ngClass]="{ active: isNavbarActive }">
    <li><a routerLink="/properties">Properties</a></li>
    <li></li>
    <li><a routerLink="/bookings">Bookings</a></li>
  </ul>
  <div class="navbar-actions">
    <button class="navbar-action-btn" routerLink="/register">Register</button>
    <button class="navbar-action-btn" routerLink="/login">Log In</button>
    <button class="navbar-action-btn" routerLink="/adminlogin">Admin</button>
  </div>
</nav>

