
.navbar {
  background-color: white;
  color: #ff385c; /* Text color for the navbar */
  display: flex;
  align-items: center;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-brand a {
  color: #ff385c;
  text-decoration: none;
  font-size: 30px;
  margin-right: 20px;
}



.navbar-brand {
  font-size: 35px;
  font-weight: bold;
  margin-left: 100px;
}

.navbar-links {
  list-style: none;
  display: flex;
  display: flex;
  align-items: center;
  margin-top: 22px;
  margin-right: 600px;
  margin-left: 20px;
}

.navbar-links li {
  margin-right: 10px;
  display: flex;
  align-items: center;
  
}
.navbar-links li a {
  color: #ff385c;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
 
}
.router-link-active {
  border-bottom: 2px solid #e5e5e5; /* Highlight active link */
}

/* Additional styles for a more attractive navbar (customize as needed) */
.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


.navbar-actions{
  width: 20%;
  /* border: 1px solid red; */
  margin-right: 17px;
  display: flex;
  justify-content: space-around;
}
.navbar-action-btn{
  padding: 5px 15px 5px 15px;
  border-radius: 10px;
  background-color: #ff385c;
  color: white;
  font-weight: bold;
}
 .navbar-action-btn:hover{
  background-color: #fe1842;
 }