/* hosts.component.css */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th,
  td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }
  
  button {
    background-color: #FF385C;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  h2 {
    margin-bottom: 10px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    margin-bottom: 10px;
    padding: 5px;
  }
  
  button {
    margin-top: 10px;
  }
  