.register-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f9f9f9;
    padding: 20px;
  }
  
  .register-form {
    width: 100%;
    max-width: 500px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
  }
  
  .register-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #ff385c;
  }
  
  .register-form form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .form-group label {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
  }
  
  .form-group input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }
  
  .form-group button {
    padding: 12px;
    background-color: #e61c4d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    
  }
  
  .form-group button:hover {
    background-color: #ff385c;
  }
  #registerbtn{
    background: #e61c4d;
    height: 50px;
    color: bold;
    font-size: larger;
    font-weight: bold;
  }