
<div class="bookings-page">
    <h1>Your Bookings</h1>
  
    <div class="property-grid">
      <div class="property-card" *ngFor="let property of bookedProperties">
        <img [src]="property.img" alt="Property Image" class="property-image">
        <div class="property-details">
          <h2>{{ property.title }}</h2>
          <p>{{ property.location }}</p>
          <p>{{ property.property_type }}</p>
          <p>{{ property.description }}</p>
          <p>Price per Night: {{ property.price_per_night }}</p>
          <button class="delete-button" (click)="deleteProperty(property.booking_id)">Cancel Booking</button>
        </div>
      </div>
    </div>
  </div>
  