<div id="main">
  <div>
    <h3>Support</h3>
    <p>Help Centre</p>
    <p>Get help with a safety issue</p>
    <p>AirCover</p>
    <p>Supporting people with disabilities</p>
    <p>Cancellation options</p>
    <p>Our COVID-19 Response</p>
    <p>Report a neighbourhood concern</p>
  </div>

  <div>
    <h3>Community</h3>
    <p>TripBudddy.org: disaster relief housing</p>
    <p>Combating discrimination</p>
  </div>

  <div>
    <h3>Hosting</h3>
    <p>TripBuddy your home</p>
    <p>AirCover for Hosts</p>
    <p>Explore hosting resources</p>
    <p>Visit our community forum</p>
    <p>How to host responsibly</p>
  </div>

  <div>
    <h3>TripBuddy</h3>
    <p>Newsroom</p>
    <p>Learn about new features</p>
    <p>Letter from our founders</p>
    <p>Careers</p>
    <p>Investors</p>
  </div>
</div>
