/* Styling for the booking details container */
.booking-details-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}

/* Styling for the left side (Booking Details) */
.booking-details {
  flex: 1;
  max-width: 400px;
  max-height: 500px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.booking-details img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.booking-details p {
  margin: 8px;
}

/* Right Side of container */

.right-side {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 1.8rem 3.2rem;
  width: 67%;
  margin: 20px;
}

.personal-heading {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  color: red;
}

/* Payment Section */

.payment-heading {
  font-size: 1.4rem;
  margin-top: -0.7rem;
  color: red;
}

.expires,
.form-box label {
  font-size: 1.2rem;
  font-weight: 700;
}

.form-box input {
  font-family: inherit;
  font-size: 1.2rem;
  /* padding: 0.5rem; */
  width: 100%;
}

.form-box select {
  padding: 0.5rem;
}

.form-box #cvv {
  width: 25%;
}

.cvv-info:link,
.cvv-info:visited {
  color: inherit;
  text-decoration: underline;
}

.btn {
  background-color: #ff385c;
  border: none;
  border-radius: 8px;
  color: #eff2f3;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  width: 90%;
  margin-left: 20px;
  cursor: pointer;
}

.footer-text {
  font-size: 1rem;
  text-align: center;
}

#main_formdiv {
  display: flex;
  justify-content: space-between;
}

#main_formdiv div div {
  margin: 10px;
}

.cvvDiv {
  /* border: 1px solid red; */
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.card-experation {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
}

.pink-background {
  background-color: pink;
}
.booking-details p{
  font-size: larger;
  font-weight: bold;
}