<div class="main">
  <!-- <h2>TopTrip.com</h2> -->
</div>

<div class="container">
  <img
    src="https://r-xx.bstatic.com/xdata/images/xphoto/3000x1033/177464000.jpeg?k=e74f22d059a85966c866bcf068f5a2a49f08ace871a3f459f5d71569c499896a&o="
    alt="Snow"
    style="width: 100%"
  />
  <div class="one">
    <h4>Available until 3 Jan 2023</h4>
    <h1>Save 15% with Late Escape Deals</h1>
    <h4>There’s still time to tick one more destination off your wishlist</h4>
    <button>Explore Deails</button>
  </div>
</div>

<!-- TOP PART -->
<div id="Top">
  <h1>Explore India</h1>
  <h4>These popular destinations have a lot to offer</h4>
</div>

<div id="Toppart">
  <div>
    <img
      src="https://cf.bstatic.com/xdata/images/city/square250/684765.webp?k=3f7d20034c13ac7686520ac1ccf1621337a1e59860abfd9cbd96f8d66b4fc138&o="
      alt=""
    />
    <h3>New Delhi</h3>
    <p>2000 Properties</p>
  </div>
  <div>
    <img
      src="https://cf.bstatic.com/xdata/images/city/square250/684622.webp?k=f9eacb40b8f7c8560afc74cdcfe2e7028e5117a36a0d8d3356f735ea3ac20f4f&o="
      alt=""
    />
    <h3>Gurgaon</h3>
    <p>2020 Properties</p>
  </div>
  <div>
    <img
      src=" https://cf.bstatic.com/xdata/images/city/square250/684501.webp?k=225f7713b3f47f0c2c580c34c35582ba70331757bcc8dc32e7f17072c80805ff&o="
      alt=""
    />
    <h3>Agra</h3>
    <p>250Properties</p>
  </div>
  <div>
    <img
      src=" https://cf.bstatic.com/xdata/images/region/square250/49646.webp?k=b7f38878b9164ee38e0b99c4d4646dbea76b7bf4add8464b1aa75e4c9d0efc6e&o="
      alt=""
    />
    <h3>Goa</h3>
    <p>5200 Properties</p>
  </div>
  <div>
    <img
      src="https://cf.bstatic.com/xdata/images/city/square250/684880.webp?k=e39b50ba8be4c6c6c413c963af6e0d452dbe0decaf72e13f9f798e65de549107&o="
      alt=""
    />
    <h3>Rishikesh</h3>
    <p>2800 Properties</p>
  </div>
  <div>
    <img
      src="https://cf.bstatic.com/xdata/images/city/square250/684657.webp?k=66dc5035b43e9bb86b756e381e4fec2558064af4a63a8af17836725a854c03ee&o="
      alt=""
    />
    <h3>Jaipur</h3>
    <p>42800 Properties</p>
  </div>
</div>

<!-- MID PART -->




<!-- footer part -->
<div id="fottor">
  <div id="final">
    <h1>Save time, save money!</h1>
    <p>Sign up and we'll send the best deals to you</p>
    <input type="text" placeholder="Your Email" /> <button>Subscribe</button>
  </div>
</div>

<div id="extra"><a href="signin.html">Extranet Login</a></div>
<div id="part">
  TripBuddy.com is part of Booking Holdings inc., the world leader is online
  travel and related services
</div>
<div id="most">
  <div>
    <img
      src="https://cf.bstatic.com/static/img/tfl/group_logos/logo_booking/27c8d1832de6a3123b6ee45b59ae2f81b0d9d0d0.png"
      alt=""
    />
  </div>
  <div>
    <img
      src="https://cf.bstatic.com/static/img/tfl/group_logos/logo_priceline/f80e129541f2a952d470df2447373390f3dd4e44.png"
      alt=""
    />
  </div>
  <div>
    <img
      src="https://cf.bstatic.com/static/img/tfl/group_logos/logo_kayak/83ef7122074473a6566094e957ff834badb58ce6.png"
      alt=""
    />
  </div>
  <div>
    <img
      src="https://cf.bstatic.com/static/img/tfl/group_logos/logo_agoda/1c9191b6a3651bf030e41e99a153b64f449845ed.png"
      alt=""
    />
  </div>
  <div>
    <img
      src="https://cf.bstatic.com/static/img/tfl/group_logos/logo_rentalcars/6bc5ec89d870111592a378bbe7a2086f0b01abc4.png"
      alt=""
    />
  </div>
  <div>
    <img
      src="https://cf.bstatic.com/static/img/tfl/group_logos/logo_opentable/a4b50503eda6c15773d6e61c238230eb42fb050d.png"
      alt=""
    />
  </div>
</div>
