/*  Top part Explore India */
#Top {
  margin: auto;
  width: 87%;
  margin-top: 25px;
  margin-bottom: 10px;
}
#Top h1{
  font-size: 35px;
  margin-bottom: 10px;
}
#Top h4{
  margin-bottom: 15px;
}

#Toppart {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 87%;
  margin: auto;
  gap: 20px;
}

#Toppart > div {
  transition: all 0.5s;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
  border-radius: 5px;
}

#Toppart > div > img {
  border-radius: 5px;
  width: 100%;
}

#Toppart > div:hover {
  transform: scale(1.1);
  z-index: 2;
}

.container {
  height: auto;
  position: relative;
}

.container > img {
  width: 80%;
  display: block;
}

.one {
  position: absolute;
  top: 10px;
  left: 200px;
  font-size: 25px;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.container > div > button {
  background-color: #ff385c;
  color: white;
  width: 150px;
  height: 50px;
  border: none;
  font-size: 20px;
}

.main > img {
  width: 200px;
  height: 60px;
  border: 1px solid;
  margin-top: 10px;
  margin-left: 100px;
  border-radius: 5px;
}

a {
  text-decoration: none;
}
