/*  Top part Explore India */
#Top {
  margin: auto;
  border: 0px solid green;
  width: 90%;
  margin-top: 70px;
  margin-bottom: 10px;
}

#Toppart {
  border: 0px solid rgb(255, 0, 195);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 90%;
  margin: auto;
  gap: 20px;
}

#Toppart > div {
  transition: all 0.5s;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
  border: 0px solid pink;
  border-radius: 5px;
}

#Toppart > div > img {
  border-radius: 5px;

  width: 100%;
  border: 0px solid blue;
}

#Toppart > div:hover {
  transform: scale(1.1);
  z-index: 2;
}


/* Botttom part */

#Last {
  margin: auto;
  border: 0px solid green;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
}

#extra {
  margin: auto;
  border: 0px solid green;
  height: 60px;
  text-align: center;
  margin-top: 20px;
}

#extra > a {
  font-size: large;
  color: gray;
  font-weight: 200;
  font-size: 30px;
}

#part {
  width: 90%;
  margin: auto;
  text-align: center;
  border: 0px solid blue;
  height: 40px;
  font-size: 20px;
  margin-top: 20px;
}

#most {
  border: 0px solid orange;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
  margin-bottom: 100px;
  gap: 20px;
  height: 40px;
}

#BottomPart {
  border: 0px solid yellow;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 90%;
  margin: auto;
  gap: 30px;
  margin-top: 10px;
}

#BottomPart > div {
  transition: all 0.5s;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
  border: 0px solid blue;
  margin-bottom: 15px;
  margin-top: 15px;
}

#BottomPart > div > img {
  width: 100%;
  border-radius: 5px;
}

#BottomPart > div > button {
  background-color: #ff385c;
  color: black;
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 10px;
  text-align: center;
  margin-left: 60px;
  margin-bottom: 10px;
}

#BottomPart > div:hover {
  transform: scale(1.1);
  z-index: 2;
}

/* Fottor part */
#fottor {
  margin: auto;
  background-color: #ff385c;
  margin-top: 15px;
}

#fottor > div {
  margin: auto;
  height: 250px;
  text-align: center;
  padding: 20px 0px;
  font-size: large;
}

#fottor > div > input {
  width: 400px;
  height: 50px;
  border-radius: 5px;
  font-size: medium;
}

#fottor > div > button {
  width: 150px;
  height: 50px;
  border-radius: 5px;
  font-size: medium;
}

#fottor > div {
  color: white;
}

#offer {
  border: 0px solid pink;
  width: 90%;
  margin: auto;
  margin-top: 20px;
}

#offer > img {
  width: 100%;
  height: 300px;
}

.container {
  height: auto;
  position: relative;
}

.container > img {
  width: 80%;
  display: block;
}

.one {
  position: absolute;
  top: 10px;
  left: 200px;
  font-size: 25px;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.container > div > button {
  background-color: #ff385c;
  color: white;
  width: 150px;
  height: 50px;
  border: none;
  font-size: 20px;
}

.main > img {
  width: 200px;
  height: 60px;
  border: 1px solid;
  margin-top: 10px;
  margin-left: 100px;
  border-radius: 5px;
}

a {
  text-decoration: none;
}

#slide {
  border: 0px solid red;
  width: 90%;
  margin: auto;
  height: 400px;
  position: relative;
  margin-top: 25px;
}

#slide > div > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 400px;
  border-radius: 5px;
}

#prev,
#next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

#next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

#prev:hover,
#next:hover {
  background-color: red;
}

